<launch>
    <arg name="hostname" default="172.26.1.2" />
  <node ns="c3po" name="robotino_node" pkg="robotino_node" type="robotino_node" output="screen">
		<param name="hostname" value="$(arg hostname)" />
		<param name="max_linear_vel" value="0.1" />
		<param name="min_linear_vel" value="0.01" />
		<param name="max_angular_vel" value="1.0" />
		<param name="min_angular_vel" value="0.01" />
		<remap from="robotino_joint_states" to="joint_states" />
		<!--remap from="image_raw" to="image"/-->
	</node>
    <!--node ns="c3po" name="robotino_odometry_node" pkg="robotino_node" type="robotino_odometry_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
    </node /-->
  <node ns="c3po" pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    	<param name="publish_frequency" type="double" value="20.0" />
  </node>
  <param name="robot_description" textfile="$(find robotino_description)/urdf/robotino.urdf" />
  <node ns="c3po" pkg="robotino_local_move" type="robotino_local_move_server_node" name="robotino_local_move_server_node" output="screen">
    <param name="min_forward_vel" value="0.05" />
    <param name="max_forward_vel" value="0.1" />
    <param name="min_forward_vel_distance" value="0.1" />
    <param name="max_forward_vel_distance" value="0.2" />
    <param name="min_rotational_vel" value="0.1" />
    <param name="max_rotational_vel" value="0.3" />
    <param name="min_rotational_vel_distance" value="0.05" />
    <param name="max_rotational_vel_distance" value="0.2" />
  </node>
</launch>
