<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="rviz_config_path" default="$(find tud_momana)/cfg/rviz.rviz" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.1" />
    <param name="autorepeat_rate" value="20" />
  </node>

  <include file="$(find ar_sys)/launch/single_board_blackfly.launch" />

  <include file="$(find tud_momana)/launch/publish_calibrated_frames.launch" />

  <node pkg="sound_play" name="soundplay_node" type="soundplay_node.py" output="screen"/>

  <node pkg="tud_momana" name="joy_control" type="joy_control" output="screen"/>

  <node pkg="tud_momana" name="moma_odom" type="moma_odom"  output="screen">
    <param name="gt_available"  type="bool" value="true"/>
  </node>

  <!-- static transforms needed for our relative odometry frames -->

  <!-- world to map -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_tf" args="0 0 0 0 0 0 1 world map" />

  <!-- map to odom -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_tf" args="0 0 0 0 0 0 1 map odom" />

  <!-- odom to rel_odom -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="rel_odom_tf" args="0 0 0 0 0 0 1 odom rel_odom" />

  <!-- rel_odom to rel_cam/odom-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="rel_cam_odom_tf" args="0 0 0 0 0 0 1 rel_odom rel_cam/odom" />

  <!-- rel_odom to rel_marker/odom-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="rel_marker_odom_tf" args="0 0 0 0 0 0 1 rel_odom rel_marker/odom" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_path)"/>
</launch>
